
.el-dialog__body {
  padding: 8px 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 80px;
}
